.dropdown-menu.show {
  left: inherit;
  right: 0;
}

.dashboard-table {
  width: 120px;
  height: 120px;
  font-size: 30px;
  border: 2px solid #212529;
  border-radius: 5px;
  background-color: #fff;
  color: #212529;
}

.outline-green {
  outline: 2px solid green;
}

.outline-yellow {
  outline: 2px solid rgb(238, 200, 74);
}

.outline-red {
  outline: 2px solid rgb(172, 4, 4);
}

.order-dash-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-right: 1px solid lightgrey;
}

.active-dinein {
  background-color: #d1d1d1;
}

.order-type {
  background-color: lightgrey;
  border: 1px solid white;
  cursor: pointer;
}

.order-type-active {
  background-color: darkgrey;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.table-save {
  background-color: #c1f1c9;
  color: #212529;
}

.table-kot {
  background-color: #fae39e;
  color: #212529;
}

/* extra css */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.table-bordered {
  border: 1px solid #dee2e6 !important;
}
.eBvtws:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
#menuData .row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  margin: 10px 0;
}
.row.container-fluid .row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  margin: 10px 0 !important;
  padding: 10px 0;
}
.users-list > li img {
  width: 100px !important;
  height: 100px !important;
}

@media print {
  /* Hide non-printable elements */
  .btn,
  .navbar,
  .main-footer,
  .menu-bar,
  .print-btn {
    display: none;
  }

  /* Style printable content */
  #printable-invoice {
    font-size: 14px;
    color: #000;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 0.5px dashed #ccc;
    padding: 8px;
    text-align: left;
  }
}

/* Hide arrows in input type=number (Chrome, Safari, Edge, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
